PORT=3000
BD_URL_ONLINE=mongodb+srv://<username>:<password>@cluster0.dfhk1jd.mongodb.net/lawyerApp
SALT_ROUND=12
PHONE_ENCRYPT=YOUR_PHONE_ENCRYPT_SECRET_500
SEND_EMAIL=YOUR_SEND_EMAIL_TOKEN_SECRET_505
ACCESS_TOKEN=YOUR_ACCESS_TOKEN_SECRET
REFRESH_TOKEN=YOUR_REFRESH_TOKEN_SECRET
WEB_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
CLOUDINARY_CLOUD_NAME="your_cloudinary_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
SUPER_ADMIN_ID=your_super_admin_object_id
# BD_URL=mongodb://127.0.0.1:27017/lawyerApp
